@model BookingAppStore.Models.Book

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.LabelFor(m=>m.Name)
    @Html.TextBoxFor(m=>m.Name) <br/>
    @Html.LabelFor(m => m.Author)
    @Html.TextBoxFor(m => m.Author) <br />
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price) <br />
    <input type="submit" value="Add" />
}
